tcgConsumer/App_WebReferences/localhost/wsArticulo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objArticulo" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Articulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ArticuloId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="UMedidaId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objArticulo" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objArticulo" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objArticulo" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerArticulos">
        <s:complexType />
      </s:element>
      <s:element name="LeerArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerArticulosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarArticulo" />
  </wsdl:message>
  <wsdl:message name="RegistrarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarArticulo" />
  </wsdl:message>
  <wsdl:message name="ActualizarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarArticulo" />
  </wsdl:message>
  <wsdl:message name="EliminarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="LeerArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:LeerArticulo" />
  </wsdl:message>
  <wsdl:message name="LeerArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:LeerArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="LeerArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:LeerArticulos" />
  </wsdl:message>
  <wsdl:message name="LeerArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:LeerArticulosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsArticuloSoap">
    <wsdl:operation name="RegistrarArticulo">
      <wsdl:input message="tns:RegistrarArticuloSoapIn" />
      <wsdl:output message="tns:RegistrarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarArticulo">
      <wsdl:input message="tns:ActualizarArticuloSoapIn" />
      <wsdl:output message="tns:ActualizarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <wsdl:input message="tns:EliminarArticuloSoapIn" />
      <wsdl:output message="tns:EliminarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerArticulo">
      <wsdl:input message="tns:LeerArticuloSoapIn" />
      <wsdl:output message="tns:LeerArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerArticulos">
      <wsdl:input message="tns:LeerArticulosSoapIn" />
      <wsdl:output message="tns:LeerArticulosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsArticuloSoap" type="tns:wsArticuloSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarArticulo">
      <soap:operation soapAction="http://tempuri.org/RegistrarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarArticulo">
      <soap:operation soapAction="http://tempuri.org/ActualizarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <soap:operation soapAction="http://tempuri.org/EliminarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerArticulo">
      <soap:operation soapAction="http://tempuri.org/LeerArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerArticulos">
      <soap:operation soapAction="http://tempuri.org/LeerArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsArticuloSoap12" type="tns:wsArticuloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarArticulo">
      <soap12:operation soapAction="http://tempuri.org/RegistrarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarArticulo">
      <soap12:operation soapAction="http://tempuri.org/ActualizarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <soap12:operation soapAction="http://tempuri.org/EliminarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerArticulo">
      <soap12:operation soapAction="http://tempuri.org/LeerArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerArticulos">
      <soap12:operation soapAction="http://tempuri.org/LeerArticulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsArticulo">
    <wsdl:port name="wsArticuloSoap" binding="tns:wsArticuloSoap">
      <soap:address location="http://localhost/tcgServices/wsArticulo.asmx" />
    </wsdl:port>
    <wsdl:port name="wsArticuloSoap12" binding="tns:wsArticuloSoap12">
      <soap12:address location="http://localhost/tcgServices/wsArticulo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>