tcgConsumer/App_WebReferences/localhost/wsTrabajador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarTrabajador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTrabajador" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Trabajador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrabajadorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarTrabajadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarTrabajadorResult" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTrabajador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTrabajador" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTrabajadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarTrabajadorResult" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTrabajador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTrabajador" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTrabajadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarTrabajadorResult" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerTrabajador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTrabajador" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerTrabajadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerTrabajadorResult" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerTrabajadors">
        <s:complexType />
      </s:element>
      <s:element name="LeerTrabajadorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerTrabajadorsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarTrabajadorSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarTrabajador" />
  </wsdl:message>
  <wsdl:message name="RegistrarTrabajadorSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTrabajadorSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarTrabajador" />
  </wsdl:message>
  <wsdl:message name="ActualizarTrabajadorSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarTrabajadorSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarTrabajador" />
  </wsdl:message>
  <wsdl:message name="EliminarTrabajadorSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="LeerTrabajadorSoapIn">
    <wsdl:part name="parameters" element="tns:LeerTrabajador" />
  </wsdl:message>
  <wsdl:message name="LeerTrabajadorSoapOut">
    <wsdl:part name="parameters" element="tns:LeerTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="LeerTrabajadorsSoapIn">
    <wsdl:part name="parameters" element="tns:LeerTrabajadors" />
  </wsdl:message>
  <wsdl:message name="LeerTrabajadorsSoapOut">
    <wsdl:part name="parameters" element="tns:LeerTrabajadorsResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTrabajadorSoap">
    <wsdl:operation name="RegistrarTrabajador">
      <wsdl:input message="tns:RegistrarTrabajadorSoapIn" />
      <wsdl:output message="tns:RegistrarTrabajadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTrabajador">
      <wsdl:input message="tns:ActualizarTrabajadorSoapIn" />
      <wsdl:output message="tns:ActualizarTrabajadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTrabajador">
      <wsdl:input message="tns:EliminarTrabajadorSoapIn" />
      <wsdl:output message="tns:EliminarTrabajadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajador">
      <wsdl:input message="tns:LeerTrabajadorSoapIn" />
      <wsdl:output message="tns:LeerTrabajadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajadors">
      <wsdl:input message="tns:LeerTrabajadorsSoapIn" />
      <wsdl:output message="tns:LeerTrabajadorsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTrabajadorSoap" type="tns:wsTrabajadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarTrabajador">
      <soap:operation soapAction="http://tempuri.org/RegistrarTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTrabajador">
      <soap:operation soapAction="http://tempuri.org/ActualizarTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTrabajador">
      <soap:operation soapAction="http://tempuri.org/EliminarTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajador">
      <soap:operation soapAction="http://tempuri.org/LeerTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajadors">
      <soap:operation soapAction="http://tempuri.org/LeerTrabajadors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTrabajadorSoap12" type="tns:wsTrabajadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarTrabajador">
      <soap12:operation soapAction="http://tempuri.org/RegistrarTrabajador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTrabajador">
      <soap12:operation soapAction="http://tempuri.org/ActualizarTrabajador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTrabajador">
      <soap12:operation soapAction="http://tempuri.org/EliminarTrabajador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajador">
      <soap12:operation soapAction="http://tempuri.org/LeerTrabajador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTrabajadors">
      <soap12:operation soapAction="http://tempuri.org/LeerTrabajadors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTrabajador">
    <wsdl:port name="wsTrabajadorSoap" binding="tns:wsTrabajadorSoap">
      <soap:address location="http://localhost/tcgServices/wsTrabajador.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTrabajadorSoap12" binding="tns:wsTrabajadorSoap12">
      <soap12:address location="http://localhost/tcgServices/wsTrabajador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>